@media screen and (max-width: 670px){
	header a.logo{
		max-width: 160px;
	}
}

header .center > .right > * {
	margin-left: 15px;
}

div.dropdown-menu > ul form{
	margin:0;
}

div.custom-combobox{
	position: relative;
	display: flex;
	margin-bottom: 10px;
}

div.custom-combobox > input{
	width: calc(100% - 65px);
	margin-bottom: 0px;
}

div.custom-combobox > a{
	background-color: #e9e9e9;
	display: inline-block;
	border: 1px solid #dddbdb;
	padding: 12px 10px;
}

div.custom-combobox > a:focus{
	outline: none;
}

div.custom-combobox > a > i{
	font-size: 18px;
	color: #363535;
}

.ui-widget-content.ui-autocomplete{
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 200px;
}

.form-field > label > span.info{
	font-size: 12px;
	color: #aaa
}

.foot a.small{
	font-size: 14px
}

.dropdown-menu > ul{
	display: none;
}

.dropdown-menu > ul > li:hover, .dropdown-menu > ul > li:focus {
	background-color: #fcfcfc;
}

#restaurants h6{
	font-size: 14px;
	color: #a5a5a5;
	font-weight: 100;
	margin:10px 5px;
}

ul.restaurant-list{
	list-style-type: none;
	padding: 0px;
	margin: 0
}

ul.restaurant-list li {
	padding: 9px 5px;
	border-top: 1px solid #e4e4e4;
	color: #7b7b7b;
	display: flex;
	align-items: center;
}

ul.restaurant-list li > div.name{
	font-size: 16px;
}
ul.restaurant-list li > div.name b{
	font-size: 10px;
	color: #bbb
}
ul.restaurant-list li > div.tags{
	margin-left: auto;
	display: flex;
	align-items: center;
	white-space: nowrap;
}

ul.restaurant-list li > div.tags span{
	font-size: 9px;
	margin-left: 5px;
	font-weight: bold
}

ul.restaurant-list li > div.tags span.role{
	background-color: #e0e0e0;
	color: #000;
	padding: 8px;
	border-radius: 15px;
}

ul.restaurant-list li > div.tags span.pending_approbal{
	padding: 5px
}

.content-panel{
	display: grid;
	grid-template-columns: auto 1fr;
	padding: 10px 5px
}

.content-panel > ul.nav{
	list-style-type: none;
	padding: 0px 10px 0 0;
	margin: 0px 15px 0px 0px;
	border-right: 1px solid #e4e4e4;
	min-width: 155px;
	position: relative;
}

.content-panel > ul.nav > .showMenu{
	display: none;
	position: absolute;
	right: 0px
}

.content-panel > ul.nav > .showMenu > i{
	font-size: 21px;
	margin-top: -1px;
}

.content-panel > ul.nav > li {
	padding: 10px 5px;
}

.content-panel > ul.nav > li.active > a {
	cursor: default;
	color: #868686;
}

.content-panel > .content .msg{
	margin-bottom: 20px
}

.content-panel > .content p{
	margin: 10px 0;
}

table{
	border-spacing: 0;
	width: 100%;
	font-size: 14px
}

table.ellipsed td:not(.actions){
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

table.ellipsed th.actions{
	text-align: center;
	padding-left: 0px;
	width: 10%;
}

table.ellipsed td.actions {
	padding-left: 0;
	text-align: center;
}

table.ellipsed td.actions i{
	font-size: 20px;
}

table tr[href]{
	cursor: pointer
}

table tr[href]:hover{
	opacity: 0.8;
	background-color: #fbfbfb
}

table th:first-child, table td:first-child{
	padding-left: 0;
}

table th{
	color: #606c76
}

table th, table td{
	border-bottom: 1px solid #e1e1e1;
	padding: .8rem 1.2rem;
	text-align: left;
	max-width: 0;
}

table th:last-child, table td:last-child{
	padding-right: 0;
}

ul.table {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.table li {
	padding-bottom: 5px;
	margin: 10px 0px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #e1e1e1;
}

ul.table li > div:not(.right){
	overflow: hidden;
	margin-right: 10px
}

ul.table li > .right{
	margin-left: auto;
	display: flex;
}

ul.table li > .right > a{
	margin: 0 2.5px;
}

ul.table li span{
	font-size: 12px;
}

ul.table li .ellipsis{
	display: block;
}

.create_button_div{
	display: flex;
	padding: 5px 0;
	justify-content: center;
	align-items: baseline;
	border-radius: 3px;
	font-weight: bold;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 14px;
}

.create_button_div > i{
	margin-right: 3px;
}

@media screen and (max-width: 670px){
	h2 > font{
		display: block !important;
	}

	.content-panel{
		display: block;
	}

	.content-panel > ul.nav{
		padding: 0;
		margin: 0;
		border-right: none;
		width: 100%;
		margin-bottom: 10px;
		min-height: 20px;
	}

	.content-panel > ul.nav > .showMenu{
		display: block;
	}

	.content-panel > ul.nav.show > li{
		display: block;
	}

	.content-panel > ul.nav > li{
		display: none;
		padding: 0px 0px 10px 0px;
	}

	.content-panel > ul.nav > li.active{
		display: block;
	}

	table {
		font-size: 14px
	}

	table th, table td{
		padding: .6rem 0.1rem;
	}

	/* Quitar info de los eventos*/
	.fc-event .fc-content {
		display: none;
	}

	/* Destacar mas el botón de eliminar evento */
	.fc-event .closeon{
		top: 2px !important;
		right: initial !important;
		width: 100%;
		text-align: center;
	}

	.fc-event .closeon > i{
		font-size: 18px !important;
	}

	div.image-grid {
		grid-template-columns: repeat( auto-fit, minmax( auto, 100%) ) !important;
	}

	.content div.image-grid img{
		width: 100%;
		max-width: initial;
	}
}

@media screen and (max-width: 1024px){
	/* Reemplazar nombre completo del dia por la inicial*/
	.fc-resource-cell {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		padding: 0 100% !important;
		position: relative;
	}

	.fc-resource-cell::after {
		position: absolute;
		content: attr(data-resource-id);
		color: #000;
		left: 0;
		z-index: 100;
		opacity: 1;
		display: inline-flex;
		width: 100%;
		align-items: flex-end;
		height: 100%;
		justify-content: center;
		font-size: 14px
	}

	/* Ajustar info de los eventos */
	.fc-event .fc-content {
		height: auto;
		overflow: hidden; !important;
	}

	.fc-event .fc-content .fc-time{
		white-space: normal !important;
	}

	div.qq-uploader{
		width: calc(100% - 30px) !important;
	}

	div.qq-uploader ul.qq-upload-list > li{
		display: block;
	}

	div.qq-uploader ul.qq-upload-list > li > *{
		margin-bottom: 5px;
	}

	div.qq-uploader ul.qq-upload-list > li > .qq-thumb{
		height: 60px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
		width: initial;
		margin-right: 0px;
	}

	div.qq-uploader ul.qq-upload-list > li > .qq-thumb img{
		width: 100%;
		height: auto;
	}

	div.qq-uploader ul.qq-upload-list div.qq-description {
		position: relative;
		max-width: initial;
	}

	div.qq-uploader ul.qq-upload-list div.qq-description input{
		width: calc(100% - 10px);
	}

	div.qq-uploader ul.qq-upload-list div.qq-description span.qq-upload-file{
		max-width: 270px
	}

	div.qq-uploader ul.qq-upload-list div.qq-actions {
		margin-left: initial;
		margin-right: initial;
		display: flex;
		justify-content: right;
	}

	div.qq-uploader ul.qq-upload-list div.qq-actions > a.qq-upload-cancel-selector > i{
		display: none;
	}

	div.qq-uploader ul.qq-upload-list div.qq-actions > a.qq-upload-cancel-selector:after{
		content: 'CANCELAR';
		color: #d80c0c;
		font-size: 12px;
	}

	.content div.image-grid {
		grid-template-columns: repeat( auto-fit, minmax( auto, 215px) );
	}
}

/* Hacer responsive el calendario*/
div.fc table th, div.fc table td{
	max-width: initial;
}

/* Apariencia del evento */
.fc-event{
	border-radius: 0px !important;
}

.fc-event::after {
	content: ' ';
	position: absolute;
	width: 100%;
	height: 5px;
	border-top: 3px solid;
	top: 0;
}

.fc-event .fc-content {
	margin: 10px;
}

.fc-event .fc-content .fc-time{
	text-align: center;
}

.fc-event .closeon{
	z-index: 1000;
	position: absolute;
	top: 0px;
	right: 0px;
}

.fc-event .closeon i{
	font-weight: bold;
	font-size: 12px;
	color: #5a5a5a;
}

#organizeScheduler:not(.editable) a.fc-event:hover{
	opacity: 1;
	cursor: default;
}

/* Espacio antes de empezar el calendario*/
div#organizeScheduler{
	margin-top: 15px
}

/* Quitar bordes externos del calendario */
div#organizeScheduler .fc-widget-content{
	border-left-color: white !important;
}

div#organizeScheduler .fc-head-container{
	border-top-color: white !important;
	border-left-color: white !important;
}

/* No acortar info del tiempo si el evento dura 30 min */
div#organizeScheduler .fc-event.fc-time-grid-event.fc-short .fc-time{
	display: block;
	vertical-align: inherit;
}

div#organizeScheduler .fc-event.fc-time-grid-event.fc-short .fc-time:before{
	content: '';
}

div#organizeScheduler .fc-event.fc-time-grid-event.fc-short .fc-time span{
	display: block;
}

div#organizeScheduler .fc-event.fc-time-grid-event.fc-short .fc-time:after{
	content: '';
}

/* Quitar negrita del TH */
.fc-resource-cell{
	font-weight: 100;
}

/* Quitar fondo amarillo del calendario si es el dia actual */
.fc-unthemed td.fc-today {
	background: none !important;
}

/* Destacar menos los bordes */
.fc-slats tr:not(.fc-minor) > *{
	border-top: 1px solid #f5f5f5 !important
}

tr.fc-minor > *{
	border-top: 1px solid #f5f5f5 !important
}

.tags{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.tags > .tag{
	font-size: 16px;
	background-color: #f2f2f2;
	padding: 10px;
	border-radius: 3px;
	margin: 0px 5px 5px 0px;
}

.tags > .tag form{
	position: relative;
	padding-right: 15px;
}

.tags > .tag form input{
	font-size: 14px;
}

.tags > .tag form input, .tags > .tag form button{
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	max-width: 85px;
}

.tags > .tag form button[type="submit"]{
	cursor: pointer;
	color: #1c7f8f;
	font-size: 16px;
	position: absolute;
	//right: 0px
}

div.qq-uploader{
	border-radius: 3px;
	background-color: #fefefe;
	padding: 10px 15px;
	overflow-y: initial !important;
	width: calc(100% - 50px);
	max-height: initial;
}

.qq-uploader .buttons{
	display: flex;
	width: 100%;
}

.qq-uploader .buttons > *{
	margin-right: 10px;
}

.qq-uploader .buttons > .qq-upload-button-selector{
	padding: 14px;
}

.qq-uploader .qq-upload-list{
	box-shadow: none;
	overflow-y: initial;
	max-height: initial;
}

.qq-uploader .qq-upload-list:empty::before {
	content: 'Arrastre imagenes aqui';
	text-align: center;
	display: block;
	margin-top: 60px;
	color: #c6c6c6;
	font-weight: 100;
}

.qq-uploader .qq-upload-list > li{
	display: flex;
	align-items: center;
}

.qq-uploader .qq-upload-list .qq-thumb{
	position: relative;
	background-color: #e9e9e9;
	border-radius: 3px;
	width: 100px;
	height: 56px;
	margin-right: 10px;
	overflow: hidden;
}

.qq-uploader .qq-upload-list .qq-upload-spinner-selector > div{
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,0.2);
}

.qq-uploader .qq-upload-list .qq-upload-spinner-selector > div > i{
	font-size: 28px
}

.qq-uploader .qq-upload-list .qq-thumbnail-selector {
	min-width: 100px;
	height: 56px;
}

.qq-uploader .qq-upload-list .qq-description{
	position: relative;
}

.qq-uploader .qq-upload-list .qq-description input{
	font-size: 18px;
	padding: 5px;
	display: block;
	margin-bottom: 5px;
	width: 360px;
}

.qq-uploader .qq-upload-list .qq-description span.qq-upload-file{
	font-size: 12px;
	width: 100%;
	max-width: 320px;
}

.qq-uploader .qq-upload-list .qq-actions{
	margin-left: auto;
	margin-right: 10px
}

.qq-uploader .qq-upload-list .qq-upload-cancel-selector i {
	color: red;
	font-size: 18px;
}

div.qq-upload-drop-area, div.qq-upload-extra-drop-area{
	border-radius: 3px;
	border-color: #0d8099;
	background: #fcfcfc;
}

div.qq-upload-drop-area:before, div.qq-upload-extra-drop-area:before{
	content: 'Soltar aqui';
	color: #c6c6c6;
	font-weight: 100;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.image-grid{
	margin: 10px 0;
	grid-template-columns: repeat( auto-fit, minmax( auto, 255px) );
	justify-content: center;
	grid-gap: 20px;
	display: grid;
	justify-content: left;
}

div.image-grid img{
	max-width: 100%;
	height: auto;
}

p.no-found{
	font-size: 14px;
	color: #777
}