.card-content p{
	font-size: 14px
}
.card-content .foot{
	display: flex;
	align-items: center;
}
.card-content .foot .tag{
	font-size: 12px;
	padding: 5px;
	font-weight: bold;
}
.card-content .foot .right{
	margin-left: auto;
}
.no-found{
	text-align: center;
}
@media screen and (max-width: 1024px){
	.content div.image-grid {
		grid-template-columns: repeat( auto-fit, minmax( auto, calc(50% - 10px)) );
	}
}