div.portrait{
	background: url('/manager/img/portrait/food-salad-healthy-lunch.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	
	height: 35vh;
	max-height: 250px;
	
	position: relative;
}

div.portrait > div{
	content: ' ';
	background: rgba(0,0,0,0.7);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
}

div.portrait > div > h2{
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	padding:10px;
	border:5px solid;

	max-width: calc(100% - 65px);
}